# Server Configuration
PORT=3000
NODE_ENV=development

# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_NAME=paymentkit
DB_USER=root
DB_PASSWORD=

# RabbitMQ Configuration
RABBITMQ_ENABLED=true
RABBITMQ_URL=amqp://localhost:5672
RABBITMQ_EXCHANGE=payment.exchange
RABBITMQ_QUEUE=payment.created

# Midtrans Configuration
MIDTRANS_BASE_URL=https://api.sandbox.midtrans.com
MIDTRANS_SERVER_KEY=
MIDTRANS_CLIENT_KEY=
MIDTRANS_IS_PRODUCTION=false

# API Configuration
API_KEY=

# Logging Configuration
LOG_LEVEL=debug   # Menampilkan semua detail (termasuk topologi RabbitMQ)
LOG_LEVEL=info    # (Default) Output bersih untuk penggunaan normal
